* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light_green: #d8f3dc;
  --mid_green: #2d6a4f;
  --dark_green: #081c15;
}

body {
  font-family: 'Roboto Slab', serif;
}

#header-form i {
  color: white;
  width: 25px;
}

#header-form button {
  background-color: black;
  border-radius: 50%;
  width: 30px;
  right: 0;
  margin: 0.3em 1em 0 0;
}

nav ul {
  width: 60%;
}

#objectives .card {
  width: 100%;
  height: 100%;
  border-radius: 4.5%;
  border: none;
}

#objectives .underline,
#call-to-paper .underline,
#dignitaries .underline,
#speakers .underline,
#agenda .underline,
#patners .underline {
  width: 20%;
  border-top: 2px solid green;
  padding: 1em 0;
  margin: 1em 0;
}

#contact .socials a{
  width: 20%;
  border: 2px solid white;
  padding: 0.5em;
  border-radius: 50%;
}

#contact .socials a:hover {
  border: 3px solid var(--dark_green);
}

#contact .socials {
  width: 60%;
}

#contact .underline {
  width: 20%;
  border-top: 2px solid green;
  padding: 0.5em 0;
}

#contact .footer-logo img {
  width: 85%;
}

body #carouselFade img {
  height: 105vh;
}

#dignitaries .row img {
  width: 45%;
}

#dignitaries img {
  width: 25%;
}

body h2 {
  font-size: 2.5em;
}

#speakers .inner-card {
  background: white;
}

#speakers .row {
  background-color: #d4e2dc;
}

#speakers .card {
  border: none;
}

#agenda ul li button {
  color: black;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}

#agenda ul li button:hover {
  color: blue;
}

#agenda ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0.7em;
  height: 13vh;
  justify-content: center;
}

#agenda .inner-agenda {
  border: 2px solid var(--light_green);
  height: auto;
}

#agenda .inner-agenda .sections {
  background-color: var(--light_green);
}

#agenda .inner-agenda .sections li {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

#agenda .inner-agenda .sections .first-section{
  border-bottom: 2px solid #081c15;
}

#agenda p,
#agenda h4 {
  font-weight: 600;
}

#patners .carousel-control-prev,
#patners .carousel-control-next,
#carouselFade .carousel-control-prev,
#carouselFade .carousel-control-next {
  background-color: #333629;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

#patners .carousel-control-next-icon,
#patners .carousel-control-prev-icon,
#carouselFade .carousel-control-prev-icon,
#carouselFade .carousel-control-next-icon {
  color: white;
}

#map {
  height: 400px;
  width: 100%;
}

#map iframe {
  width: 100%;
  height: 100%;
}

#register {
  background-image: url(./images/digital-Nigeriahome-page-down-slide-1024x435-1.jpg);
  background-size: cover;
}

#register p,
#register h4 {
  color: white;
  font-weight: 600;
}

#register .inner-reg {
  border-radius: 7%;
  background-color: rgba(8, 28, 21, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 30vh;
}

#register .inner-reg h4 {
  padding: 0.5em 1em;
}

#register .inner-reg a {
  text-decoration: none;
  color: white;
  background-color: var(--mid_green);
  padding: 1em 2em;
  margin-top: 1em;
}

#register .inner-reg a:hover {
  background-color: var(--dark_green);
}

#schedule a {
  pointer-events: none;
}

#schedule .time-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#schedule .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#schedule .speaker-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#schedule .row {
  padding: 0em 1.5em;
  height: 25vh;
  border-bottom: 2px solid var(--light_green);
}

#schedule .row .sides {
  border-left: 2px solid var(--light_green);
  height: 70%;
  padding-right: 0.7em;
}

#schedule .row div span {
  font-size: 0.8em;
}

#schedule .row .time-section {
  justify-content: flex-start;
}

#reg {
  background-color: var(--light_green);
  color: var(--dark_green);
  padding: 0.7 1.3em;
}

#reg:hover {
  background-color: var(--mid_green);
}

video {
  display: none;
  width: 100%;
}

#under-the-video .images-icon {
  width: 15%;
}

#under-the-video {
  background-color: var(--light_green);
}

@media screen and (max-width: 900px) {


  body #carouselFade img {
    height: 75vh;
  }

  #dignitaries #president {
    width: 70%;
  }

  #register .inner-reg {
    width: 70%;
  }

  #schedule .row .sides {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  body #carouselFade img {
    height: 40vh;
  }

  #schedule .row .sides {
    display: none;
  }

  #register .inner-reg {
    width: 100%;
  }

  #agenda #schedule .row {
    height: auto;
  }

  #dignitaries .row img {
    width: 65%;
  }

  #under-the-video .inner-under {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav form {
    display: none;
  }
}
